<h1>
    <%= @track.title %> by <%= @track.band.name %>
</h1>

Lyrics: <%= ugly_lyrics(@track.lyrics) %>
<br>

<% @track.notes.each do |note| %>
    <%= render "notes/note", note: note %>
<% end %>
<br>

Add note:
<%= render "notes/form", track: @track %>
<br>

<%= link_to "Edit track", edit_track_path(@track) %>
<br>
<%= link_to "Delete track", track_path(@track), method: :delete, :data => {:confirm => 'Are you sure?'} %>
<br>