<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css2?family=Notable&display=swap" rel="stylesheet">


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <nav class="nav-bar">
      <h1 class="header">Music App!</h1>
        <ul class="nav-links"><% if current_user %>
          <h2>Welcome, <%= current_user.email %></h2>
            <li class="nav-item"><%= link_to "Logout", session_url, method: :delete %></li>
        <% else %>
          <li class="nav-item"><%= link_to "Login", new_session_url, method: :get %></li>
          <li class="nav-item"><%= link_to "Signup", new_user_url, method: :get %></li>
        <% end %>
        </ul>
    </nav>
  </head>

  <% if flash[:errors] %>
  <%= flash[:errors].join(", ") %>
  <% end %>

  <body>
    <%= yield %>
  </body>
</html>
